<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student</title>
</head>
<body>
    <h2>Student</h2>
    <form action="#" th:action="@{/}" method="post">
        <label for="name">name:</label>
        <input type="text" id="name" name="name" th:field="*{name}" required><br>
        
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" th:field="*{email}" required><br>
        
         <label for="dept">Department:</label>
        <input type="dept" id="dept" name="dept" th:field="*{dept}" required><br>
        
        <label for="courses">courses:</label>
        <input type="courses" id="courses" name="courses" th:field="*{courses}" required><br>
        
        <button type="submit">ADD</button>
    </form>
</body>
</html>