<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Spring Boot Thymeleaf</title>
    <link rel="stylesheet" type="text/css" href="./css/style1.css">
</head>
<body>


<form action="save" method="post">    
<table>    
<tr>    
<td><label for="empId">Employee id</label></td>    
<td><input type="text" name="empId"></input></td>    
 </tr>    
<tr>    
<td><label for="name">Name</label></td>    
<td><input type="text" name="name"></input></td>    
</tr>
<tr>    
<td><label for="salary">Salary</label></td>    
<td><input type="text" name="salary"></input></td>    
</tr>

<tr>    
<td></td>    
<td><input type="submit" value="Submit"></input></td>    
</tr>    
</table>    
</form>    


</body>
</html>