<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">    
<table>    
<tr>    
<td><h4>User Name: </h4></td>    
<td><h4 th:text="${user.name}"></h4></td>    
</tr>    
<tr>    
<td><h4>Email ID: </h4></td>    
<td><h4 th:text="${user.email}"></h4></td>    
</tr>    
</table>    
</html> 

<!--
<html lang="en">    
<head>    
<title>Index Page</title>    
</head>    
<body>    
<form action="save" method="post">    
<table>    
<tr>    
<td><label for="user-name">User Name</label></td>    
<td><input type="text" name="name"></input></td>    
 </tr>    
<tr>    
<td><label for="email">Email</label></td>    
<td><input type="text" name="email"></input></td>    
</tr>    
<tr>    
<td></td>    
<td><input type="submit" value="Submit"></input></td>    
</tr>    
</table>    
</form>    
</body>    
</html>  -->